* {
  margin: 0;
  padding: 0;
}

li {
  padding: 3px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 5px;
}

th {
  text-align: center;
}

img {
  width: 120px;
  height: 160px;
}

div {
  /*margin: 3px;*/
  padding: 10px;
}

/*.body {
  height: 100%;
}*/

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position:relative;
  border: 1px solid blue;
}
.section {
  flex: 1;
  border: 1px;
  padding: 20px;
}

.guestBookButton {
  position: relative;
  width: 50px;
  margin: 5px;
}

/*#introduction {*/
  /*top: 0%;*/
  /*height: 20%;*/
/*}*/

/*#best5 {*/
  /*top: 20%;*/
  /*height: 60%;*/
/*}*/

/*#guest_book {
  top: 80%;
  height: 20%;
}*/
