* {
  margin: 0;
  padding: 0;
}

.body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 33%;
  width: 100%;
  position: absolute;
  border: 1px solid blue;
}
.section {
  flex: 1;
  border: 1px;
  padding: 20px;
}

#introduction {
  top: 0%;
}

#best5 {
  top: 33%;
}

#guest_book {
  top: 66%;
}